.bookmaker-card-team-logo {
    width: 3.5em;
}

.a-link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 1em;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.media-body {
    align-items: center;
    justify-content: space-between;
}

.tips-card-container {
    padding: 10px;
}

.tips-card-body{
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 6px #ccc;

}